{% extends "index.html" %}

{% load static %}

{%block style%}
<style>
    .image-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }

        .image-container {
            width: calc(25% - 20px);
            margin-bottom: 20px;
            text-align: center;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            box-sizing: border-box;
        }

        .image-container img {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }

        .image-container h1 {
            font-size: 1.5em;
            margin: 0;
            color: #333;
        }

        .image-container p {
            font-size: 1em;
            color: #666;
            margin: 10px 0 0;
        }
    </style>
</style>
{%endblock%}



{%block title%}Главная{%endblock%}

{%block content%}
{%endblock%}

{%block page%}


<div class="image-grid">
    {% for image in images %}
    {% if forloop.counter == 5 %}
    <div class="image-container">
        <img src= "{{ image.image.url }}"  alt="{{ image.title }}">
        <h1>{{image.title}}</h1>
    </div>
    {% endif %}
    {% if forloop.counter == 6 %}
    <div class="image-container">
        <img src= "{{ image.image.url }}"  alt="{{ image.title }}">
        <h1>{{image.title}}</h1>
    </div>
    {% endif %}
    {% if forloop.counter == 7 %}
    <div class="image-container">
        <img src= "{{ image.image.url }}"  alt="{{ image.title }}">
        <h1>{{image.title}}</h1>
    </div>
    {% endif %}
    {% if forloop.counter == 8 %}
    <div class="image-container">
        <img src= "{{ image.image.url }}"  alt="{{ image.title }}">
        <h1>{{image.title}}</h1>
    </div>
    {% endif %}
    {%endfor%}
</div>

{%endblock%}